.row.content {
    height: 1500px
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
